* {
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    user-select: none;
}

.box {
    border: none;
    padding: 15px;
    background-color: #2d004f;
    border-radius: 5px;
    width: calc(33.33% - 20px);
    max-width: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

@media (max-width: 1200px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}

video {
    width: 100%;
    height: auto;
    border: 3px solid #d4b9db;
    border-radius: 5px;
    user-select: none;
}

video:hover {
    cursor: pointer;
    user-select: none;
}

a:visited {
    color: #ffffff;
    user-select: none;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    justify-content: center;
    user-select: none;
}

.language {
    padding: 10px 15px;
    background-color: #8d53a8;
    border-radius: 5px;
    font-size: 0.9em;
    transition: transform 0.2s ease;
    margin-top: 5px;
    user-select: none;
}

.language:hover {
    transform: translateY(-3px);
    user-select: none;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
}

.top-info {
    border: none;
    padding: 15px;
    background-color: #2d004f;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    user-select: none;
}