*{
    user-select: none;

}

body {
    background-color: #000000;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.box {
    border: none;
    padding: 15px;
    background-color: #2d004f;
    border-radius: 5px;
    width: calc(33.33% - 20px);
    max-width: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 950px) {
    .box {
        width: 100%;
    }
}

video {
    width: 100%;
    height: auto;
    border: 3px solid #d4b9db;
    border-radius: 5px;
}

video:hover {
    cursor: pointer;
}

a:visited {
    color: #ffffff;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

.language {
    padding: 10px 15px;
    background-color: #8d53a8;
    border-radius: 5px;
    font-size: 0.9em;
    transition: transform 0.2s ease;
    margin-top: 5px;
}

.language:hover {
    transform: translateY(-3px);
    user-select: none;
}
.project-content{
    align-items: center;
    text-align: center;
}
.top-info{
    border: none;
    padding: 15px;
    background-color: #2d004f;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}